page-shipping-edit {
  .content {
    .scroll-content {
      .list {
        .item {
          font-size: 12px;
          .item-inner {
            .label {
              color: #161616;
              width: 70px;
            }
          }
        }
      }
    }
  }
  .mainFooter {
    background-color: #F5F6F8;
    padding: 3px 12px;
  }
}
